@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #0c4b33 16.62%, #44b78b 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 18px;
}

.conteudo {
    margin-bottom: 48px;
    border-top: 0.4px solid #FFF2E7;
}

.conteudo-inicio {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
    text-align: center;
    margin-top: 70px;
}

.info-contatos {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 40px;
    color: #FFF2EF;
    margin-bottom: 16px;
    text-align: center;
    margin-top: 170px;
}

.info {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2EF;
    margin-bottom: 16px;
    text-align: center;
}

.link {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2EF;
    margin-bottom: 16px;
    text-align: center;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.teste-info{
     font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ECD6C4;
}