<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <header class="cabecalho"></header>

    <main class="conteudo">
        <h1 class="conteudo-inicio">Esse é meu 1° site em Flask</h1>
        <div class="conteudo-info">
            <h1 class="info-contatos">Contatos:</h1>
            <h3 class="info">Email: gfgomes16@gmail.com</h3>
            <h3 class="info">Github: <a class="link" href="https://github.com/giordanogomes" target="_blank" rel="noopener noreferrer">github.com/giordanogomes</a></h3>
            <h3 class="info">LinkedIn: <a class="link" href="https://linkedin.com/in/giordano-gomes" target="_blank" rel="noopener noreferrer">linkedin.com/in/giordano-gomes</a></h3>
        </div>
    </main>

    <footer class="rodape">
        <p class="teste-info">Em Desenvolvimento</p>
    </footer>
</body>
</html>